.container {
  /* display: flex; */

  /* flex-direction: row; */

  /* flex-wrap: wrap; */

  /* width: 100%; */
  padding: 50px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.img {
  height: 75%;
  width: 75%;
}
