* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav {
  background: #222;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  background: none;
}

.logo {
  font-size: 20px;
  padding: 8px 10px 8px 0;
  color: #fff;
  order: 0;
}

.item {
  padding: 10px;
  order: 1;
  position: relative;
  display: block;
  width: auto;
}

.item.button {
  padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
